.mapVisual {
    background: white;
    color:black;
}

.mapVisual strong {
    color: black;
}

.visual-option {
    text-align: center;
    padding-top: 30px;
}

#for_entries h3{
    color: black;
}